<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
        }

        .head {
            background-color: #f1f1f1;
            text-align: center;
            padding: 20px;
            font-family: monospace;
        }

        .topnav {
            overflow: hidden;
            background-color: #f1f1f1;
        }

        .topnav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            font-family: monospace;
            border-bottom: 3px solid transparent;
        }

        .topnav a:hover {
            border-bottom: 3px solid rgb(0, 81, 255);
        }

        .topnav a.active {
            border-bottom: 3px solid rgb(0, 76, 255);
        }
    </style>
</head>

<body>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/login">login</a>
        <a href="/AddArticle">Add Article</a>
    </div>

    <div class="head" style="padding-left:16px">
        <h2>Welcome 2</h2>
        <p>RadMore</p>
    </div>
{{#each admData}}
<center>
    <div class="card-body" style="width: 38rem" ;>
        <div class="card shadow-sm">
            <h2 class="post-title">{{this.title}}</h2>
            <p class="post-subtitle">{{this.content}}</p>
            <p class="card-text">{{this.date}}</p>
            <hr />
            <img src="{{this.image}}" alt="image" class="bd-placeholder-img card-img-top" width="auto" height="auto">
            <title>Placeholder</title>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <form action="/articles" method="post">
                        <tr>
                            <td><a href="/articles?id={{id}}">{{id}}</a></td>
                            <td><a href="/articles?Image={{id}}">{{image}}</a></td>
                                 
                        </tr>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</center>
{{/each}}
        </div>

</body>